body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    border: 0;
    padding: 6px 10px 6px 0;
}

td, th{
    border-color: rgb(148, 148, 118);
}

tbody > tr > th {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

th {
    font-size: larger;
}

tr, th {
    text-align: center;
}

thead {
    color: rgb(37, 104, 92);
}